*{
   
    background-color:lightgrey;
}
h3{
    background-color:lightpink;
    text-align: center;
    font-weight:bolder;
    margin-top: 30px;

}
.att{
    background-color: darkgray;
    color: black;
    text-align: center;
}
.img{
    width: 400px;
    height: 200px;
}
.text-attr{
    font-size:small;
    font-weight: 300;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div{
    color:lightgoldenrodyellow;
    height: 100px;
    width: 100px;
    background-color:lightslategray;
    border:3px solid rgb(193, 119, 119);
}
li{
    background-color: white;
    color: black;
}